In [1]:
#-*- coding:utf-8 -*-
%matplotlib inline
import numpy as np
import matplotlib.pyplot as plt

# 한글 폰트 적용
from matplotlib import font_manager, rc
import matplotlib as mpl
font_name = font_manager.FontProperties(fname="c:/Windows/Fonts/malgun.ttf").get_name()
rc('font', family=font_name)
mpl.rcParams['axes.unicode_minus'] = False

In [2]:
import os
import pandas as pd

data = pd.read_csv(
    os.path.join("C:/Users/SANGWON/data", "tiger_p1_140lx_1.csv"), index_col=False)

display(data.head())

,color1,color2,color3,color4,imu1,imu2,imu3,imu4,imu5,imu6,imu7,imu8,imu9,lidar,y
0,101,39,34,31,0.014954,0.000000,-0.022430,0.001343,0.004028,0.990906,0.28700,0.10626,-0.44170,33,0
1,101,39,34,31,0.097198,0.044861,0.112152,-0.002258,-0.003357,0.988342,0.29316,0.10290,-0.44282,33,0
2,101,39,34,31,0.104675,-0.067291,0.089722,-0.002625,-0.001831,0.989685,0.29120,0.10822,-0.44044,33,0
3,101,39,34,31,0.022430,0.104675,-0.119629,0.004211,-0.000977,0.973938,0.29106,0.10528,-0.44534,33,0
4,101,39,34,31,-0.082245,-0.059814,-0.007477,0.005432,0.002441,0.990967,0.29638,0.09884,-0.44226,33,0

In [3]:
features = data.loc[:, 'color1':'lidar']
# NumPy 배열 추출
X = features.values
y = data['y'].values

In [4]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

print("X_train 크기: {}".format(X_train.shape))
print("y_train 크기: {}".format(y_train.shape))

print("X_test 크기: {}".format(X_test.shape))
print("y_test 크기: {}".format(y_test.shape))

X_train 크기: (49755, 14)
y_train 크기: (49755,)
X_test 크기: (16586, 14)
y_test 크기: (16586,)

In [5]:
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier(n_neighbors=5)

knn.fit(X_train, y_train)

print("knn의 테스트 세트 정확도 : {:.2f}".format(knn.score(X_test, y_test)))

knn의 테스트 세트 정확도 : 1.00

In [6]:
from sklearn.preprocessing import MinMaxScaler
from sklearn.svm import SVC

scaler = MinMaxScaler().fit(X_train)

X_train_scaled = scaler.transform(X_train)

svm = SVC(gamma='auto')
svm.fit(X_train_scaled, y_train)

X_test_scaled = scaler.transform(X_test)
print("테스트 점수: {:.2f}".format(svm.score(X_test_scaled, y_test)))

테스트 점수: 1.00

In [7]:
display(data.tail())

,color1,color2,color3,color4,imu1,imu2,imu3,imu4,imu5,imu6,imu7,imu8,imu9,lidar,y
66336,123,44,43,38,0.029907,-0.007477,-0.164490,0.010803,0.130249,1.028442,0.33096,0.45290,-0.34524,120,1
66337,122,44,43,38,0.052338,0.029907,0.007477,0.012085,0.128479,1.019104,0.33152,0.44870,-0.34888,120,1
66338,122,44,43,38,0.037384,-0.082245,-0.014954,0.012878,0.129700,1.019287,0.33320,0.45178,-0.35070,120,1
66339,123,44,43,38,0.082245,0.044861,-0.149536,0.012817,0.135437,1.016846,0.33264,0.45542,-0.34860,120,1
66340,122,44,43,38,0.194397,-0.014954,0.074768,0.017517,0.138733,1.018494,0.32858,0.45304,-0.34734,120,1

In [8]:
svm = SVC(gamma='auto')
svm.fit(X_train, y_train)

print("테스트 점수: {:.2f}".format(svm.score(X_test, y_test)))

테스트 점수: 1.00

In [9]:
data2 = pd.read_csv(
    os.path.join("C:/Users/SANGWON/data", "tiger_p1_140lx_2.csv"), index_col=False)

features2 = data2.loc[:, 'color1':'lidar']
# NumPy 배열 추출
X2 = features2.values
y2 = data2['y'].values

In [10]:
print("X 크기: {}".format(X.shape))
print("y 크기: {}".format(y.shape))

print("X2 크기: {}".format(X2.shape))
print("y2 크기: {}".format(y2.shape))

X 크기: (66341, 14)
y 크기: (66341,)
X2 크기: (65643, 14)
y2 크기: (65643,)

In [11]:
from sklearn.neighbors import KNeighborsClassifier
knn1and2 = KNeighborsClassifier(n_neighbors=3)

knn1and2.fit(X, y)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=None, n_neighbors=3, p=2,
           weights='uniform')

In [12]:
print("knn의 테스트 세트 정확도 : {:.2f}".format(knn1and2.score(X2, y2)))

knn의 테스트 세트 정확도 : 0.98

In [20]:
svm = SVC(gamma='auto')
svm.fit(X, y)

print("svm의 테스트 점수: {:.2f}".format(svm.score(X2, y2)))

svm의 테스트 점수: 0.91

In [14]:
scaler = MinMaxScaler().fit(X)
X_scaled = scaler.transform(X)

svm = SVC(gamma='auto')
svm.fit(X_scaled, y)

X2_scaled = scaler.transform(X2)

print("MinMaxScaler 전처리 후 테스트 점수: {:.2f}".format(svm.score(X2_scaled, y2)))

MinMaxScaler 전처리 후 테스트 점수: 0.42

In [15]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler().fit(X)
X_scaled = scaler.transform(X)

svm = SVC(gamma='auto')
svm.fit(X_scaled, y)

X2_scaled = scaler.transform(X2)

print("StandardScaler 전처리 후 테스트 점수: {:.2f}".format(svm.score(X2_scaled, y2)))

StandardScaler 전처리 후 테스트 점수: 0.76

In [16]:
from sklearn.preprocessing import RobustScaler

scaler = RobustScaler().fit(X)
X_scaled = scaler.transform(X)

svm = SVC(gamma='auto')
svm.fit(X_scaled, y)

X2_scaled = scaler.transform(X2)

print("RobustScaler 전처리 후 테스트 점수: {:.2f}".format(svm.score(X2_scaled, y2)))

RobustScaler 전처리 후 테스트 점수: 0.90

In [17]:
from sklearn.tree import DecisionTreeClassifier

tree = DecisionTreeClassifier(max_depth=10, random_state=0)
tree.fit(X, y)

print("결정 트리의 테스트 점수: {:.2f}".format(svm.score(X2, y2)))

결정 트리의 테스트 점수: 0.12

In [18]:
from sklearn.tree import DecisionTreeClassifier

tree = DecisionTreeClassifier(random_state=42)
tree.fit(X, y)

print("결정 트리의 테스트 점수: {:.2f}".format(svm.score(X2, y2)))

결정 트리의 테스트 점수: 0.12

In [19]:
from sklearn.ensemble import RandomForestClassifier

forest = RandomForestClassifier(n_estimators=100, random_state=42)
forest.fit(X, y)

print("랜덤 포레스트의 테스트 점수: {:.2f}".format(forest.score(X2, y2)))

랜덤 포레스트의 테스트 점수: 0.95